<div class="div-car-detailes">
    <h1 class="add-headline">Add a new viacle</h1>
    <form #car="ngForm" (ngSubmit)="onClickSubmit(car.value)" ngNativeValidate>
        <div class="row div-row">
            <div class="col-sm">
                <input [(ngModel)]="car.licencePlate" name="licencePlate" [pattern]="licencePlatePattern"
                    class="detail-element" type="text" placeholder="Licence Plate" required>
            </div>
            <div class="col-sm">
                <label for="">Viacle type: </label>
                <select [(ngModel)]="car.viacleType" name="viacleType" class="detail-element" id="" required>
                    <option *ngFor="let type of types" value="{{type.typeNum}}">{{type.typeName}}</option>
                </select>
            </div>
        </div>


        <div class="row div-row">
            <div class="col-sm">
                <label for="">Gear type</label>
                <select name="fourOnFour" [(ngModel)]="car.fourOnFour" class="detail-element gear-select" id=""
                    required>
                    <option value="{{1}}">4X4</option>
                    <option value="{{0}}">not 4X4</option>
                </select>
            </div>
            <div class="col-sm">
                <input [(ngModel)]="car.engineCapacity" name="engineCapacity" class="detail-element" type="number"
                    placeholder="Engin capacity" [min]="800">
            </div>
        </div>

        <div class="row div-row">
            <div class="col-sm">
                <input [(ngModel)]="car.manufactoryYear" name="manufactoryYear" class="detail-element" type="number"
                    placeholder="Manufactory year" required [min]="1960" [max]="2021">
            </div>
            <div class="col-sm">
                <label for="">Employee</label>
                <select [(ngModel)]="car.deliveredToEmployee" name="deliveredToEmployee" class="detail-element" id=""
                    required>
                    <option value="none">Not delivered</option>
                    <option *ngFor="let num of employeeNums" value={{num}}>{{num}}</option>
                </select>
            </div>
        </div>

        <div class="row dic-row">
            <div class="col-sm">
                <input [(ngModel)]="car.treatmentDate" name="treatmentDate" class="detail-element treatment-date-input"
                    type="date" placeholder="Treatment date" required [min]="today">
            </div>

            <div class="col-sm">
                <input [(ngModel)]="car.comments" name="comments" class="detail-element comments-input" type="text"
                    placeholder="comments">
            </div>
        </div>

        <button type="submit" class="btn btn-success my-btn">submit</button>
    </form>

</div>