<form class="my-form" action="/">
    <label class="search-form-element" for="">search by </label>
    <select class="search-form-element" name="searchType" id=""  (change)="searchBy($event.target.value)">search by
        <option *ngFor="let prop of searchProp"  value={{prop}}>
            {{prop}}
        </option>
    </select>
    <span  *ngIf="selectedProp ==='viacleType'">
        <label for="viacleTypes">Choose a car type:</label>
        <select name="carTypes" id="viacleTypes" [(ngModel)] = "searchValue.viacleType" required>
            <option *ngFor="let type of selectedTypes" value={{type.typeName}}>{{type.typeName}}</option>
        </select>
        <button class="search-button btn btn-success btn-sm" (click)="searchClickHandler()">search</button>
    </span>

    <span  *ngIf="selectedProp ==='fourOnFour'">
        <label for="fourOnFour">Search by gear</label>
        <select name="4X4" id="fourOnFour" [(ngModel)] = "searchValue.fourOnFour">
            <option value="4X4">4X4</option>
            <option value="not 4X4">not 4X4</option>
        </select>
        <button class="search-button btn btn-success btn-sm" (click)="searchClickHandler()">search</button>
    </span>

    <span  *ngIf="selectedProp ==='licencePlate'">
        <input [(ngModel)] = "searchValue.licencePlate" name="licence" type="text" id="LicencePlate" placeholder="enter licence plate" [(ngModel)] = "test">
        <button class="search-button btn btn-success btn-sm" (click)="searchClickHandler()">search</button>
    </span>
</form>

<table class="entry-table">
    <tr>
        <th class="tdCell">License Plate</th>
        <th class="tdCell">Viacle Type</th>
        <th class="tdCell">4X4</th>
        <th class="tdCell">Engine Capacity</th>
        <th class="tdCell">Deliverd To Employee</th>
        <th class="tdCell"></th>
    </tr>
    <tr *ngFor="let car of cars">
        <td class="tdCell">{{car.getLicencePlate()}}</td>
        <td class="tdCell">{{types[car.getVicaleType()]}}</td>
        <td class="tdCell">{{!!+car.getFourOnFour()}}</td>
        <td class="tdCell">{{car.getEnginCapacity()}}</td>
        <td class="tdCell">{{car.getDeliveredToEmployee()}}</td>
        <td class="tdCell">
            <button class="btn btn-outline-warning btn-sm" (click)="editClickHandler(car)">Edit viacle</button>
        </td>
        <td class="tdCell">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteCarHandler(car)">delete
                car</button>
        </td>

    </tr>
</table>